.navbar
{
    background-color: #090909;
    overflow: hidden;
    width: 100%; 
    height: auto;
    padding: 18px 0px;
    z-index: 1;
}
.navbar a
{
    text-decoration: none;
    color: white;
}
.navbar a:hover 
{
    color: #32a6d5;
}